#
# Copyright (c) 2020, 2025 Oracle and/or its affiliates.
#
# Licensed under the Universal Permissive License v 1.0 as shown at
# https://oss.oracle.com/licenses/upl.
#
kind: Service
apiVersion: v1
metadata:
  name: front-end
  labels:
    app: front-end
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: front-end
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: front-end
spec:
  replicas: 1
  selector:
    matchLabels:
      app: front-end
  template:
    metadata:
      labels:
        app: front-end
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      containers:
      - name: front-end
        image: 10.10.10.240/library/ss-frontend:df91f26
        env:
        - name: PORT
          value: "8080"
        - name: BACKEND_DOMAIN
          value: ".sockshop.svc.cluster.local"
        # OpenTelemetry standard environment variables for Node SDK
        - name: OTEL_SERVICE_NAME
          value: "frontend"
        - name: OTEL_EXPORTER_OTLP_ENDPOINT
          value: "http://opentelemetry-kube-stack-deployment-collector.monitoring:4318"
        - name: OTEL_EXPORTER_OTLP_PROTOCOL
          value: "grpc"
        # Kubernetes namespace for OpenTelemetry resource attributes
        - name: K8S_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        # Custom environment variables for web client
        - name: OTEL_COLLECTOR_HOST
          value: "opentelemetry-kube-stack-deployment-collector.monitoring"
        - name: WEB_OTEL_SERVICE_NAME
          value: "frontend"
        - name: PUBLIC_OTEL_EXPORTER_OTLP_TRACES_ENDPOINT
          value: "http://opentelemetry-kube-stack-deployment-collector.monitoring:4318/v1/traces"
        - name: ENV_PLATFORM
          value: "kubernetes"
        resources:
          requests:
            cpu: 100m
            memory: 400Mi
          limits:
            cpu: 1000m
            memory: 400Mi
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: tmp
          mountPath: /tmp
        securityContext:
          runAsNonRoot: true
          runAsUser: 10001
          capabilities:
            drop:
              - all
          readOnlyRootFilesystem: true
      volumes:
      - name: tmp
        emptyDir: {}
